*{
    box-sizing: border-box;
}

body{
    background-color: rgba(  248, 251, 251 );
}

/* Style the navbar */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Merriweather", sans-serif;
	font-size: large;
	font-weight:200;
}

.navbar {
	overflow: hidden;
	background-color: rgb(28,172,139, 0.98);
	height: 10vh;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar > .brand-logo{
	max-height: inherit;
}

.navbar-content{
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}


/* Navbar links */
.nav-links a {
	float: left;
	display: block;
	color: rgb(206, 228, 221);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-links a:hover{
	color: rgb(232, 245, 241);
}

.nav-links .active{
	color: rgba(250,166,1)
}
