{% extends 'Blog/main.html' %}
{% block title %}Post blog{% endblock title %}Post blog
{% block content %}
    <div class="container container-lg mt-5">
            <form action='{% url "Blog:create" user.username %}' method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form.title }}<br><br>
                {{ form.cover_images }}<br><br>
                {{ form.body }}
                <br>
                <button class="btn btn-success" type="submit">Post</button>
            </form><br>
            <a class="btn btn-warning" href="#">Save as draft</a>
    </div>
{% endblock content %}