<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} {% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% load static %}
        <link rel="shortcut icon" type="image/png"  href="{% static 'Blog/images/favicon.png' %}">

        <link href="{% static 'Blog/CSS/main.css' %}" rel="stylesheet">
        {{ form.media }}
    </head>
    <body>

        <div class="navbar">
            <div class="navbar-content">
                <div class="nav-links app-links">
                    <a class="links" href="{% url 'Blog:create' user.username %}">Create</a>
                    <a class="links" href="{% url 'Blog:register' %}">Register</a>
                    <a class="links" href="{% url 'Blog:login' %}">Login</a>
                    
                </div>
            </div>
        </div>

        {% block content %}
        
        {% endblock content %}

    
    </body>
</html>