{% extends 'Blog/main.html' %}
{% block title %}{{ user.username|capfirst}}{% endblock title %}

{% block content %}
    
    {% if user_profile %}
        
        <img src="{{ user_profile.get_profile_image_url }}">
        <a href="{% url 'Blog:updateprofile' user.username %}">Update profile</a>
        
        {{ user.username }}
        {{ user_profile.description }}
        {{ user_profile.youtube_account }}
        {{ user_profile.instagram_account }}
        <p>Followers{{ user_follower }}</p>
        
        {% for user_post in user_all_post %}
            <div>
                <h1>{{ user_post.title }}</h1>
                <div><p>{{ user_post.body| safe | truncatewords:50}}</p></div>
            </div>
            <!-- Post Delete -->
            <form action="{% url 'Blog:delete_post' user_post.id %}" method="post" novalidate>
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endfor %}
        
    {% endif %}
{% endblock content %}


