{% extends 'Blog/main.html' %}
{% block title %}Login{% endblock title %}

{% block content %}

    <div>
        <div>
            <div><h3>Login Form</h3></div>

            <form action="{% url 'Blog:login' %}" method="post" novalidate>
                {% csrf_token %}
                {% if request.GET.next %}
                    {# the 'next' value is used by login_required decorator to take user to the next page #}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <div>
                    {{ form.username }} 
                </div>
                <div>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            <form>

            <div>
                <p>Don't have an account? <a href="{% url 'Blog:register' %}">Register</a></p>
            </div>  
             
        </div>
    </div>

{% endblock content %}