{% extends 'Blog/main.html' %}

{% block content %}
    {% if user_profile %}
        
        <img src="{{ user_profile.get_profile_image_url }}" style="width:100px; height:100px">
        <a href="/Blog/user.username/profileupdate/">Update profile</a>
        {{ user.username }}
        {{ user_profile.description }}
        {{ user_profile.youtube_account }}
        {{ user_profile.instagram_account }}
        <p>Followers{{ user_follower }}</p>
        {% for user_blog in user_all_blog %}
            <div>
                <h1>{{ user_blog.title }}</h1>
                <div>{{ user_blog.body| safe | truncatewords:50}}</div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}


